.outer_grid_container{
    height: 100vh;
    display: grid;
    width: 100%;
    place-items: center;
}

.inner_grid_container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    height: 80vh;
    width: 85%;
    column-gap: 60px;
    row-gap: 20px;

}

.profile_card{
    grid-area: 1 / 1 /  3  /  3;
    background-color: #5746EA;
    border-radius: 33px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}



.profile_data{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 80%;
    width: 60%;

}

.profile_img{
    background-image: url('../../assets//images/profile.png');
    border: 5px solid white;
    width: 20%;
    height: 90%;
    background-position: right;
    background-repeat: no-repeat;
    background-size: 110% 100%;
    border-radius: 7rem;
}

.biodata p {
    padding-top: 7px;
    margin: 0;

}
.p_name{
    font-size: xx-large;
    
}
.p_email{
    font-size: xx-large;

}
.p_uname{
    font-size: xxx-large;
}

.profile_cat{
    /* background-color: aliceblue; */
    height: 32%;
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    overflow-y:scroll ;
    width: 65%;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
.movies_cat {
    background-color: #9F94FF;
    display: flex;
    width: 10rem;
    align-items: center;
    justify-content: flex-start;
    padding-left: 7%;
    height: 3.5rem;
    border-radius: 50px;
}
