.outer_category_container{
    height: 100vh;
    display: flex;
    width: 100%;
    align-items: center;    
    justify-content: center;
}

.left_category_container{
    width: 50%;
    height: 78%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* justify-content: space-around; */
    position: relative;

}

.choose_title{
    font-size: 68px;
    width: 50%;
    font-weight: bold;
    font-family: Roboto;
    /* margin-top: -; */
}

.right_category_container{
    width: 40%;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    height: 78%;
    flex-wrap: wrap;
    position: relative;
}

.cat_card{
    width: 210px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
    padding: 6px 8px;
    font-family: 'DM Sans', sans-serif;
    font-size: large;
}


.cat_card p {
    width: 100%;
    padding: 0;
    margin: 0;
}


.next_page{
    position: absolute;
    bottom: -4rem;
    right: 1rem;
    padding: 6px;
    color: white;
    background-color: #148A08;
    border: none;
    border-radius: 30px;
    padding:  12px 38px ;
    font-size: larger;
    cursor: pointer;
    font-family: 'DM Sans', sans-serif;

}

.chip_container{
    width: 60%;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.cat_warning{
    color: red;
    display: flex;
    align-items: flex-end;
    gap: 5px;
    position: absolute;
    bottom: 40px;
}

.cat_warning img{
    height: 20px;
    transform: translateY(-2px);
}